<p><a href="/looneys/new">New Looney</a></p>

<% for looney in @looneys %>
  <p>Name:  <%= looney.name %></p>
  <p>Breed: <%= looney.breed %></p>
  <p>Owner:  <%= looney.owners_id != 'null' ? looney.owner.name : "Up for Adoption"%>
</p>
  <p>Days In: <%= looney.days_in %></p>
  <hr/>
<%end%>