<h1>New Looney Form</h1>

<form action="/looneys" method="post" >
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Breed:
    <input type="text" name="breed" />
  </label>
 
  <input type="submit" value="Add Looney " />
  </form>