<h1>New Looney Form</h1>

<form action="/looneys" method="post" >
  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Breed:
    <input type="text" name="name" />
  </label>

    <p>
     <label>
       Owner ID:
      <select name="owner id">
<% for owner in @owners %>
      <option value= <%=owner.id %>><%= owner.name %></option> 
           <% end %>
      </select>
    </label>
 

  <input type="submit" value="Add Looney " />
  </form>