<!DOCTYPE html>
<html>
<head>
  <title>Looney Toons Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>



  <div class = "nav">
    <ul>
    <audio preload="auto" controls="controls">
      <source src="../audio/Merrie_Melodies.mp3" type="audio/mp3" loop="true">
    Your browser does not support the audio element. 
    </audio>
      <li>
        <a href="/looneys">Looneys for adoption</a>
      </li>
      
      <li>
        <a href="/owners">List of Adopters </a>
      </li>

      <li>
        <a href="/">Welcome</a>
      </li>
    </ul>
    </div>
    <%= yield %>
  </body>
  </html>