<!DOCTYPE html>
<html>
<head>
  <title>Looney Toons Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/background.css">
  </head>
  <body>



  <div class = "nav">
    <ul>
      <li>
        <a href="/looneys">Looneys for adoption</a>
      </li>
      <li>
        <a href="/owners">List of Adopters </a>
      </li>

      <li>
        <a href="/">Welcome</a>
      </li>
    </ul>
    </div>
    <%= yield %>
  </body>
  </html>