<!DOCTYPE html>
<html>
<head>
  <title>Looney Toons Shelter</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
<a href="/looneys">Looneys for adoption</a>
<a href="/owners">List of Adopters </a>
</nav>
  <%= yield %>
</body>
</html>