@font-face {
  font-family: "cartoon";
  src: url("../fonts/looneyFont.ttf");
}


body {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.nav ul{
  display: flex;
  justify-content: space-between; 
  list-style-type: none; 
  font-family: cartoon;
  font-size: 150%;
  color: white;
  background: -webkit-linear-gradient(bottom,#800000 , #f06d06  255px);
  background: -moz-linear-gradient(bottom, #800000, #f06d06  255px);
  background: linear-gradient(bottom,  #800000 , #f06d06 255px);
  margin-top: 0;
  padding: 0;
  padding-right: 70px;
  border: 1px solid #555;
}

.nav audio {
  width: 69px;
}

.nav a:visited {
  color: orange;
}

.nav a:link{
  color: white;
}

.nav a:hover{
  color: red;
}

form {
  font-family: cartoon;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}

p {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}

.button {
  float: center;
  overflow: hidden;
  height: 250px;
  width: 250px;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.show-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}