@font-face {
  font-family: "cartoon";
  src: url("../fonts/looneyFont.ttf");
}


 body {
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.nav ul{
  justify-content: space-between; 
  font-family: cartoon;
  font-size: 150%;
  color: white;
  background: -webkit-linear-gradient(bottom,#800000 , #f06d06  255px);
     background: -moz-linear-gradient(bottom, #800000, #f06d06  255px);
     background: linear-gradient(bottom,  #800000 , #f06d06 255px);
     padding: 20px 0 20px 0;
}

.nav ul li {
    display: inline-block;
    padding: 20px 0 20px 0;
     text-align: center;
   }
  

.nav a:visited {
      color: orange;
  }

h1 {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}

p {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}
