@font-face {
  font-family: "cartoon";
  src: url("../fonts/looneyFont.ttf");
}
 body {
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  font-family: cartoon;
  font-size: 150%;
  color: white;
  background-image: linear-gradient(
      to right, 
      #800000, #f06d06
    );;
}

.nav ul li {
     display: table-cell;
     width: auto;
     text-align: center;
   }
  

.nav a:visited {
      color: orange;
  }

h1 {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}

p {
  color: white;
  font-family: cartoon;
  font-size: 250%;
  text-align: center;
}