<link rel="stylesheet" type="text/css" href="/styles/background.css">


<h1>New Adopter Form</h1>

<form action="/owners" method="post" >
  <label>
    name:
    <input type="text" name="name" />
  </label>

  <input type="submit" value="Add Adopter " />
  </form>